@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --darkgreen: #65A775;
    --darkgreen-selected: #549965;
    --lightgreen: #CEEFBD;
    --charcoal: #35393B;
    --dimwhite: #EFEFEF;
    --darkred: #B7384E;
}
* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
}

header h1 {
    flex: 3;
    font-family: "Barrio";
    font-size: 2.5rem;
    text-align: center;

    color: var(--darkgreen);
}

h4 {
    font-family: "Oswald";
}

header button {
   flex: 1;
   margin: 0.2rem 3rem;
}

button {
    margin: 0.2rem 2rem;
    padding: 0.3rem 0.6rem;

    background-color: var(--darkgreen);
    color: var(--lightgreen);

    border: 2px solid var(--darkgreen);
    border-radius: 200px;

    font-family: "Oswald";
    font-size: 1.2rem;

}

button:hover {
   background-color: var(--darkgreen-selected);
   border: 2px solid var(--lightgreen);
   color: var(--dimwhite);
}

button:active {
    background-color: var(--lightgreen);
    border: 2px solid var(--darkgreen);
    color: var(--charcoal);
}

.button_off {
    background-color: var(--darkred);
    border: 2px dashed var(--charcoal);
}
.button_on {
    background-color: var(--darkgreen);
}

#app_container {
    width: 100vw;
    height: 100vh;

    background-color: var(--dimwhite);
    display: flex;
    flex-direction: column;
}


hr {
    color: var(--lightgreen);
    margin: 1rem 3rem;
}

#map {
    margin: 0 1rem;

    border-radius: 6px;
    border: 2px solid var(--darkgreen);

    background-color: var(--charcoal);
    flex: 4;
}

#cardlist {
    border: 2px solid var(--darkgreen);
    border-radius: 6px;

    margin: 0.2rem 0.5rem;
    margin-bottom: 0;

    overflow-y: scroll;

    flex: 3;
}

.restaurantcard {
    margin: 0.4rem;
    padding: 0.4rem;

    background-color: var(--darkgreen);

    border: 2px solid var(--charcoal);
    border-radius: 5px;

    box-shadow: 0.25rem 0.25rem 4px black;
}

.restaurantcard:hover {
    border: 3px solid var(--lightgreen);
}

.restaurantcard * {
    margin: 0.2rem;
    color: var(--lightgreen);
    font-family: "Oswald";
}

.restaurantcard h2 {
    font-family: "Lilita One";
}

.restaurantcard a {
    color: var(--dimwhite);
}

.restaurantcard a:hover {
    color: var(--lightgreen);
}

.cuisinetag {
    background-color: var(--charcoal);
    border: 2px solid var(--lightgreen);
    padding: 0.2rem;
}

.restaurantcard_cuisinesbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 500px) {
    #cardlist {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.4rem;
    }
}

@media (min-width: 800px) {
    #cardlist {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
